:root {
  --color-background: #282c34;
  --color-light: #3d424d;
  --color-contrast: #bab89c;
  --completed-thickness: 3px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--color-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  margin: 5;
}


.Form-items {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 5px;
}

.Item {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  word-break: break-word;
}

.Item-text{
  margin: 0;
  padding: 5px 15px 0 15px;
}

.Item-text.completed {
  text-decoration: line-through;
  text-decoration-thickness: var(--completed-thickness);
  text-decoration-color: var(--color-light);
}

.Item-text:hover {
  background-color: var(--color-light);
  border-radius: 5px;
}

.Item-usage {
  display: flex;
  gap: 10px;
}

.Item-button {
  height: 40px;
  width: 40px;
  background-color: var(--color-light);
  border-radius: 10px;
  border-color:var(--color-background);
}

.Item-button:hover {
  border: solid;
  border-width: 1px;
}

.Item-checkbox {
  margin: 0;
  flex-shrink: 0;
  flex-basis: 23px;
}

.Item-logo {
  height: 20px;
  width: 20px;
}


.Form-content {
  display: flex;
  justify-content: center;
  gap: 9px;
}

.Form-submit,.Form-input {
  background-color: var(--color-light);
  color: white;
  border-radius: 8px;
  border: 0 solid var(--color-background);
  padding: 5px;
}

.Form-submit:hover {
  border: 1px solid var(--color-contrast);
}